<!DOCTYPE html>
<html>
    <head>
        <!-- General HTML configuration and setting -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Used to have a different title name in each tab -->
        {% block title %}

        {% endblock %}

        <!-- The load static tag, VERY IMPORTANT, should be used in all the scripts that use static files, otherwise they won't work -->
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">

        <!-- CSS StyleSheets links used for general style -->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/templatemo-style.css' %}">

        <!-- Stylesheets used ONLY for the Review page, as it uses a differen template -->
        {% block reviews %}

        {% endblock  %}

        <!-- font awesome CSS v5.10.0 -->        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
              integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
              crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Link & Script used -->
        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    <!-- Header & navigation bar section-->
    <nav>
        <div class="logo">
            <a href="{% url 'core:home' %}">San Miguel || <em>Resonance</em></a>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <!-- Body section-->
    {% block content %}

    {% endblock %}

    <!-- Dropdown menu in the navigation bar -->
    <section class="overlay-menu">
        <div class="container">
          <div class="row">
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="{% url 'core:home' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'core:us' %}">Nuestra historia</a>
                    </li>
                    <li>
                        <a href="{% url 'services:gallery' %}">Galería y servicios</a>
                    </li>
                    {%comment%}
                    <li>
                        <a href="{% url 'blog:events' %}">Eventos pasados</a>
                    </li>
                    {%endcomment%}
                    <li>
                        <a href="{% url 'contact:contact-us' %}">Contáctanos</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:reviews' %}">Reseñas</a>
                    </li>
                </ul>
                <p>Usando la música para mejorar tus eventos</p>
            </div>
          </div>
        </div>
    </section>

    <!-- Footer section -->
    <footer class="fixed-bottom">
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2001 | Resonance s.a. de c.v.</p>
            </div>
        </div>
    </footer>

    <!-- JavaScript lines-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/plugins.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>