{% extends 'core/base.html' %}

<!-- Used to have a different title name in each tab -->
{% block title %}
<title>Resonance | SanMiguel</title>
{% endblock %}
    

{% load static %}

{% block content %}
    <div id="video-container" style="background-image: url({% static 'core/img/Portada.jpg' %});">
        {% comment %} 'core/img/imagen_reno.jpg' {% endcomment %}
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
            <h1>Bienvenidos a <em>Resonance - San Miguel</em></h1>
            <p>Con más de 20 años de experiencia, nuestro negocio nacido en San Miguel de Allende ha iluminado 
               y dado vida a innumerables eventos, convirtiéndolos en momentos inolvidables. Espéranos pronto en
               Querétaro también pára disfrutar de nuestro servicio.</p>
            </div>
        </div>
        {% comment %}
        <video autoplay="" loop="" muted>
            <source src=" {% static 'core/img/highway-loop.mp4' %}" type="video/mp4" />
            <source src=" {% static 'core/img/imagen_reno.jpg' %} "/>
        </video> {% endcomment %}
    </div>
{% endblock %}
