{% extends 'core/base.html' %}

<!-- Used to have a different title name in each tab -->
{% block title %}
<title>Resonance | Galería</title>
{% endblock %}
    
{% load static %}
{% block content %}
    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            {% for servicio in servicios%}
            <!-- Service -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{servicio.image.url}}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>{{servicio.title}} </h1>
                                {% comment %} This is an invisible character ‎ , I used it for styling purposes, will replace it later with CSS/JS styling {% endcomment %}
                                <p> ‎  </p>

                            </div>
                        </div>
                        <div class="image">
                            <img src="{{servicio.image.url}}">
                        </div>
                    </div></a>
                </div>
            </div>
            {% endfor %}

            {% comment %}
            <!-- Service #2 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/portfolio_item_2.png' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Iluminación en </em>pista de baile</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/portfolio_item_2.png' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #3 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/Service05.jpeg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Iluminación en </em>fachadas</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/Service05.jpeg' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #4 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/Service07.jpeg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>DJ para </em>toda ocasión</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/Service07.jpeg' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #5 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/portfolio_item_5.png' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Logo </em>principal</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/portfolio_item_5.png' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #6 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/portfolio_item_7.png' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Pista de </em>baile</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/portfolio_item_7.png' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #7-->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/Service11.jpeg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Equipos de </em>videoconferencia</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/Service11.jpeg' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #8-->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/Service04.jpeg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em></em>Backline</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/Service04.jpeg' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            <!-- Service #9-->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'core/img/Service08.jpeg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Sistema </em>PA y HK</h1>
                                <p>‎</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'core/img/Service08.jpeg' %}">
                        </div>
                    </div></a>
                </div>
            </div>

            
            <!-- Stored this as comment for the moment. Not sure how many rows of images will be needed, I think that 9 are too much, currently 
             6 should be enough, but I've saved this lines of code just in case they are needed later. I might erase these lines in future versions-->
            {% endcomment %}
        </div>
    </div>
{% endblock %}



