{% extends 'core/base.html' %}
{% load static %}

<!-- Used to have a different title name in each tab -->
{% block title %}
<title>Resonance | Reseñas</title>
{% endblock %}

{% url 'blog:reviews' as url_reviews %}   

{% if path == url_reviews %}
    {% block reviews%}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tooplate-barista.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/vegas.min.css' %}">
    {% endblock %}
{% endif %}
    



{% block content %}
    <section class="reviews-section section-padding section-bg" id="section_4">
        <div class="container-reviews">
            <div class="row justify-content-center">
                <!-- Header of the page -->
                <div class="col-lg-12 col-12 text-center pt-5 pt-lg-0 pb-lg-2 mt-5 mt-lg-1 mb-5 mb-lg-3">
                    <h2 class="text-white">Reseñas de nuestros clientes</h2>
                </div>

                <div class="timeline">
                    <!-- Customer #1 -->
                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="{% static 'core/img/reviews/Los_rabeats.jpg' %}" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0" style="color: white;
                                                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                                    Los Rabeats </h6>
                                        <em class="text-white" style="color: white;
                                                               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"> 
                                                               Rodrigo Vargas</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>"Como grupo musical, la calidad del audio y la iluminación es crucial para nuestras presentaciones, y trabajar 
                                        con su equipo ha sido increíble. Su tecnología de punta y su profesionalismo nos han permitido ofrecer shows 
                                        impecables que conectan con nuestra audiencia. Siempre están atentos a nuestras necesidades, asegurándose de 
                                        que cada detalle esté perfectamente cuidado."</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Customer #2 -->
                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="{% static 'core/img/reviews/VC_and_friends.jpg' %}" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0" style="color: white;
                                                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                                    VC & Friends Lounge</h6>
                                        <em class="text-white" style="color: white;
                                                               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                               Jorge Levario</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>"Gracias a su impecable servicio, nuestros eventos en VC destacan por su energía y ambiente único. Desde 
                                        la iluminación que resalta cada rincón de nuestro espacio hasta el sonido que envuelve a nuestros clientes, 
                                        siempre superan nuestras expectativas. Son más que proveedores, son parte de la experiencia que ofrecemos 
                                        en el corazón de San Miguel."</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">4 <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Customer #3 -->
                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="{% static 'core/img/reviews/Hotel_Rosewood.png' %}" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0" style="color: white;
                                                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                                    Hotel Rosewood SMA</h6>
                                        <em class="text-white" style="color: white;
                                                               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                               Cliente</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>"En Rosewood San Miguel de Allende, valoramos la calidad y la perfección en cada detalle, y su equipo siempre 
                                        cumple con nuestros altos estándares. Su experiencia y compromiso se reflejan en cada evento que realizamos 
                                        juntos, logrando ambientes excepcionales que encantan a nuestros huéspedes. Son sin duda un aliado confiable 
                                        para garantizar el éxito de cualquier celebración."</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">5 <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Customer #4 -->
                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="{% static 'core/img/reviews/Club_golf_sma.png' %}" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0" style="color: white;
                                                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                                    Club de Golf Malanquin</h6>
                                        <em class="text-white" style="color: white;
                                                               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                               Cliente</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>"En el Club de Golf Malanquín, buscamos siempre ofrecer eventos que reflejen la exclusividad y elegancia que 
                                        nuestros socios merecen. Trabajar con su equipo ha sido una experiencia extraordinaria; su audio e iluminación 
                                        de primera calidad elevan cada celebración, desde bodas hasta torneos y reuniones sociales. Su profesionalismo 
                                        y atención a los detalles nos aseguran que todo sea perfecto, cada vez."</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">5 <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Customer #5 -->
                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="{% static 'core/img/reviews/Rancho_sma.png' %}" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0" style="color: white;
                                                                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                                    Rancho "Las sabinas recinto & venue"</h6>
                                        <em class="text-white" style="color: white;
                                                               text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                                                               Cliente</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>"La colaboración con su equipo ha elevado nuestros eventos en Rancho Las Sabinas a otro nivel. Su experiencia, 
                                        atención al detalle y tecnología de vanguardia garantizan que cada celebración en nuestro espacio sea 
                                        simplemente espectacular. Nuestros clientes siempre quedan encantados, y eso dice mucho de su compromiso con 
                                        la excelencia."</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">5 <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
